<ngb-carousel
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  interval="3000"
  [keyboard]="true"
  [pauseOnHover]="false"
  [wrap]="true"
  [activeId]="'slideTwo'"
>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/img1.jpg" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/img2.jpg" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/img3.jpg" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>
