<ngb-carousel
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
  interval="1000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'slideTwo'"
>
  <ng-template ngbSlide>
    <!-- <div class="picsum-img-wrapper"> -->
      <figure class="image">
        <img src="assets/img/img4.jpg" alt="Random first slide" />
      </figure>
    <!-- </div> -->
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- <div class="picsum-img-wrapper"> -->
      <figure class="image">
        <img src="assets/img/img5.jpg" alt="Random second slide" />
      </figure>
    <!-- </div> -->
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!-- <div class="picsum-img-wrapper"> -->
      <figure class="image">
        <img src="assets/img/img6.jpg" alt="Random third slide" />
      </figure>
    <!-- </div> -->
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>
