<div class="columns is-centered">
  <div class="card column is-one-third">
    <div class="card-content">
      <p class="title">
        “This would be a nice place to put our about us section, yes or na?, JK
        obviously yes!, This is us!.”
      </p>
      <p class="subtitle">
        Dahez Soluciones
      </p>
    </div>
  </div>
  <div class="card column is-one-third">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/img/imgC.jpg" alt="Placeholder image" />
      </figure>
    </div>
  </div>
</div>
