<div class="columns is-centered">
  <div class="card column is-one-quarter">
    <div class="card-content">
      <p class="title">
        “Nos dedicamos al mantenimiento, construcción, remodelación de casa
        habitación, locales comerciales, pintura, fontanería y tablaroca.”
      </p>
      <p class="subtitle">
        Alguien
      </p>
    </div>
  </div>
  <div class="card column is-one-quarter">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/img/imgC.jpg" alt="Placeholder image" />
      </figure>
    </div>
  </div>
</div>
