.carousel-caption {
    position: absolute;
    bottom: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

@media (max-width: 760px) {
    .title {
        font-size: 1.5rem;
    }
    .carousel-caption p {
        display: none;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 1rem;
    }
    .subtitle {
        font-size: .7rem;
    }
}
