<!-- Begin Main Hero -->
<section class="hero is-light is-fullheight has-background">
  <img
    alt="Main picture"
    class="hero-background is-transparent"
    src="assets/img/img4.jpg"
  />
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1">
        Dahez Soluciones
      </h1>
      <h2 class="subtitle has-text-grey-dark">
        LÍDERES EN CALIDAD DE CONSTRUCCIÓN Y MANTENIMIENTO
      </h2>
    </div>
  </div>
  <div class="hero-foot has-text-centered mb-5">
    <h1 class="is-italic has-text-success title">100% Mexicana</h1>
  </div>
</section>
<!-- End Main Hero -->

<!-- Begin Mission Section -->
<div class="container has-text-centered pt-5">
  <h1 class="title is-size-2">Misión</h1>
  <hr />
</div>
<section class="hero is-medium has-background">
  <img
    alt="Main picture"
    class="hero-background is-transparent"
    src="assets/img/img6.jpg"
  />
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Otorgar el mejor servicio a nuestros clientes
      </h1>
      <h2 class="subtitle">
        Con la mas alta calidad y garantía de trabajo resolviendo sus
        necesidades inmobiliarias o proyectos.
      </h2>
    </div>
  </div>
</section>
<!-- End Mission Hero -->

<!-- Begin Vision Section -->
<div class="container has-text-centered pt-5">
  <h1 class="title is-size-2">Visión</h1>
  <hr />
</div>
<section class="hero is-medium has-background">
  <img
    alt="Main picture"
    class="hero-background is-transparent"
    src="assets/img/img3.jpg"
  />
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title">
        Ser la mejor opción para nuestros clientes
      </h1>
      <h2 class="subtitle">
        En sus proyectos inmobiliarios con calidad y el mejor trato hacia ellos
        resolviendo sus necesidades inmobiliarias con el mayor profesionalismo.
      </h2>
    </div>
  </div>
</section>
<!-- End Vision Hero -->

<!-- Begin Services Section -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-size-2">Servicios</h1>
    <h2 class="subtitle">
      Empresa dedicada al mantenimiento, construcción, remodelación de casa
      habitación, locales comerciales, pintura, fontanería, tablaroca y más...
    </h2>
  </div>
  <hr />
  <div class="container">
    <div class="columns is-centered">
      <div class="card column is-one-quarter">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/imgC.jpg" alt="Construccion thumbnail image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <h2 class="title is-4">Construcción</h2>
          </div>

          <div class="content has-text-justified">
            Desde la construcción de una barda hasta la construcción de una
            residencia o local comercial en soluciones integrales dahez , vamos
            de la mano con nuestros clientes para así crear una satisfacción
            total en ellos, con la calidad y resultados deseados.
            <br />
          </div>
        </div>
      </div>
      <div class="card column is-one-quarter">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/img3.jpg" alt="Remodelación thumbnail image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <h2 class="title is-4">Remodelación</h2>
          </div>

          <div class="content has-text-justified">
            En soluciones integrales dahez, contamos con remodelaciones desde
            una cocina, cuartos, fachadas hasta una casa habitación, oficinas,
            etc.
          </div>
        </div>
      </div>
      <div class="card column is-one-quarter">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="assets/img/img2.jpg"
              alt="Mantenimiento thumbnail image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <h2 class="title is-4">Mantenimiento</h2>
          </div>

          <div class="content has-text-justified">
            Trabajamos con calidad, rapidez y compromiso. generando así una
            satisfacción total , contando con el equipo necesario y personal
            especializado, estando siempre a la vanguardia en el mantenimiento
            de: residencias, oficinas, edificios, etc.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- Begin Us Section -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-size-2">Nosotros</h1>
    <p class="subtitle content">
      En soluciones integrales dahez somos una empresa mexicana dentro del ramo
      de la construcción, comprometidos con todos nuestros clientes desempeñando
      obras con la mas alta calidad, profesionalismo y rapidez. somos
      especialistas en la remodelación o construcción de casa habitación,
      ampliación y adecuación de oficinas y mantenimiento de locales
      comerciales.
    </p>
  </div>
  <hr />

  <div class="modal" #modal>
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-content">
      <p class="image is-4by3">
        <img src="assets/img/img2.jpg" alt="Mantenimiento thumbnail image" />
      </p>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="toggleModal()"
    ></button>
  </div>

  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img
                src="assets/img/img6.jpg"
                alt="thumbnail image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris.
              <br />
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris.
              <br />
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
          <div class="card-image">
            <figure class="image is-3by2">
              <img
                src="assets/img/img8.jpg"
                alt="thumbnail image"
              />
            </figure>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img
                src="assets/img/img7.jpg"
                alt="thumbnail image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris.
              <br />
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="button is-primary" (click)="toggleModal()">
      Modal
    </button>
  </div>
</section>

<!-- End Us Section -->
