<footer class="footer">
  <div class="content">
    <div class="columns">
      <!-- left Column -->
      <div class="column is-3">
        <p class="click">Inicio</p>
        <p class="click">Proyectos</p>
        <p class="click">Blog</p>
        <p class="click">Nosotros</p>

        <span class="icon">
          <a
            target="_blank"
            href="http://bit.ly/Dahez-Instagram"
            class="navbar-item"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </span>

        <span class="icon">
          <a
            target="_blank"
            href="http://bit.ly/Dahez-Facebook"
            class="navbar-item"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
        </span>
      </div>
      <!-- End of left Column -->

      <!-- Middle Column -->
      <div class="column is-5">
        <h3 class="has-text-link">Empleos</h3>
        <p>
          Para aplicar a un trabajo en Soluciones integrales Dahez, envía tu CV
          y carta de recomendación a: ingenieriadahez@gmail.com
        </p>

        <h3 class="has-text-link">Presupuestos</h3>
        <p>
          {{ phoneNumb }}
        </p>
      </div>
      <!-- End of Middle Column -->

      <!-- Right Column -->
      <div class="column is-4">
        <h3 class="has-text-link">Oficina Principal</h3>
        <p>
          <a target="_blank" href="https://goo.gl/maps/6n2sLVcvgJ5hWTd29">
            <strong>
              Dirección
            </strong>
            <em> {{ address }}. </em>
          </a>
        </p>

        <p>
          <a href="">
            <strong>
              Cotización
            </strong>
            <em>
              {{ email }}
            </em>
          </a>
        </p>

        <p>
          <a href="">
            <strong>
              Teléfono
            </strong>
            <em>
              {{ officeNumb }}
            </em>
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- End of Right Column -->

  <!-- Bottom Row -->
  <div class="content has-text-centered has-text-grey">
    <p>
      <strong>&copy; 2019 Dahez Soluciones </strong>by Kutli Development |
      kutlidev@gmail.com
    </p>
  </div>
  <!-- End of Bottom Row -->
</footer>
