<footer class="footer">
  <div class="content">
    <div class="columns">
      <div class="column is-3">
        <p class="bd-footer-link-title">
          <a>Inicio</a>
        </p>

        <p class="bd-footer-link-title">
          <a>Proyectos</a>
        </p>

        <p class="bd-footer-link">
          <a>
            Blog
          </a>
        </p>

        <p class="bd-footer-link">
          <a>
            Nosotros
          </a>
        </p>
        <p>
          <span class="icon">
            <a
              target="_blank"
              href="http://bit.ly/Dahez-Instagram"
              class="navbar-item"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </span>

          <span class="icon">
            <a
              target="_blank"
              href="http://bit.ly/Dahez-Facebook"
              class="navbar-item"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
          </span>

          <span class="icon">
            <a target="_blank" class="navbar-item">
              <i class="fab fa-twitter"></i>
            </a>
          </span>
        </p>
      </div>

      <div class="column is-5">
        <h3 class="has-text-link">
          Empleos
        </h3>
        <p class="has-text-info">
          Para aplicar a un trabajo en Soluciones integrales Dahez, envía tu CV
          y carta de recomendación a: ingenieriadahez@gmail.com
        </p>

        <h3 class="has-text-link">
          Presupuestos
        </h3>
        <p class="has-text-link">
          33-23-115-597
        </p>
      </div>

      <div class="column is-4">
        <h3 class="has-text-link">
          Oficina Principal
        </h3>

        <p>
          <a target="_blank" href="https://goo.gl/maps/6n2sLVcvgJ5hWTd29">
            <strong>
              Dirección
            </strong>
            <em> {{ address }}. </em>
          </a>
        </p>

        <p>
          <a href="">
            <strong>
              Cotización
            </strong>
            <em>
              {{ email }}
            </em>
          </a>
        </p>

        <p>
          <a href="">
            <strong>
              Teléfono
            </strong>
            <em>
              33-12-642-603
            </em>
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="content has-text-centered has-text-grey">
    <p>
      <strong>&copy; 2019 Dahez Soluciones </strong>by Kutli Development |
      kutlidev@gmail.com
    </p>
  </div>
</footer>
